##
# This file is part of the pl.wrzasq.cform.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2020 - 2021 © by Rafał Wrzeszcz - Wrzasq.pl.
##

# Eclipse IDE files
/**/.classpath
/**/.project
/**/.settings

# IntelliJ IDE files
/.idea
/**/*.iml

# project builds
/**/target
